__pycache__
*.pyc
MANIFEST
*.mo
.piptools

dist/
build/
env/
.env
*venv/
*venv.back/
typings/
mypy_report/

.vscode
.idea
.ipynb_checkpoints
*.spec
*.egg-info

artifacts
docs
integration
out
typings
debug.log
comments_text.png
